body{
    background-color: lightgrey;
    margin: 0;
}

header{
    background-color: #e07a5f;
    border-radius: 10px;
}

h1{
    padding: 1rem;
    color: #3d405b;
    text-shadow: 2px 2px #f4f1de;
    text-align: center;
    font-family: cursive;
    border: double ;
    border-radius: 10px;
}

main{
    border: double ;
    border-radius: 10px;
    padding-right: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    width: 75%;
    background-color: #f4f1de;
    margin-bottom: 2rem;
}

h2{
    color: #3d405b;
    font-family: Courier New, monospace;
    text-align: center;
    text-shadow: 1px 1px #e07a5f;
}

#input-fields{
    margin: auto;
    width: 50%;
    padding: 1rem;
}

#submit-button{
    background-color: #3d405b;
    color: #f4f1de;
    text-shadow: 1px 1px #e07a5f;
}

#task-table {
    border: 1px solid #3d405b;
    border-collapse: collapse;
    margin: auto;
    width: 70%
}

table th{
    border: 2px solid #3d405b;
    background-color: lightgrey;
}

table td{
    border: 1px solid #3d405b;
    text-align: center;
    padding: 1rem
}

/* tr:hover{
    background-color: lightgrey;
}

tr:nth-child(even){
    background-color: lightgrey;
} */

.task-complete{
    background-color: #81b29a;
    color: #f4f1de;
    text-shadow: 1px 1px #3d405b;
}

.task-complete-row{
    background-color: #f2cc8f;
}

.celebrate{
    font-size: large;
    text-shadow: 1px 1px #e07a5f;
}

.remove-task{
    background-color: #e07a5f;
    color: #f4f1de;
    text-shadow: 1px 1px #3d405b; 
}

.footer{
    text-align: center;
    font-family: cursive;
    background-color: #e07a5f;
    border-radius: 10px;
    border: double;
}

.mt-auto{
    margin-top: auto;
}

.py-3{
    padding-bottom: 1rem;
    padding-top: 1rem;
}

/* footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    text-align: center;
    font-family: cursive;
    background-color: #e07a5f;
    border-radius: 10px;
} */