body{
    background-color: #cccc00;
}

h1{
    font-family: fantasy;
    text-align:  center;
    border: 1px solid black;
    background-color: #ff99cc;
}

h2{
    font-family: fantasy;
    text-align: center;
}

.taskCompleted{
    background-color: #ff99cc;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

table, td{
    width: auto;
    border: 1px solid black;
    height: 40px;
    text-align: left;
    border-collapse: collapse;
    padding: 5px;
    font-size: large;
}

th{
    text-align: center;
    padding: 3px;
    background-color: #ff99cc;
}