body{
    background-color: #f4f1de;
    margin: 0;
}

h1{
    padding: 1rem;
    color: #3d405b;
}

h2{
    color: #3d405b;
}

#input-fields{
    padding: 1rem;
}

#task-table {
    border: 1px solid #3d405b;
    border-collapse: collapse;
    margin: 1rem;
}

table th{
    border: 2px solid #3d405b;
    background-color: #81b29a;
}

table td{
    border: 1px solid #3d405b;
}

/* tr:nth-child(even){
    background-color: white;
}  */

.task-complete-row{
    background-color: #81b29a;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    text-align: center;
    color: #3d405b;
}